### IntelliJ IDEA ###
.idea
target/
*.iml
# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#logs
*/log/
*/logs/
# jooq
common/src/main/java/ru/team38/common/jooq/