version: '3.8'

services:
  postgres:
    container_name: postgres
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${postgres_user}
      POSTGRES_PASSWORD: ${postgres_password}
      POSTGRES_DB: ${postgres_db}
    ports:
      - "5433:5432"
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - data:/var/lib/postgresql/data
    networks:
      - socialnet_network

  db-migrations:
    image: liquibase/liquibase
    environment:
      LIQUIBASE_COMMAND_URL: jdbc:postgresql://postgres:5432/${postgres_db}
      LIQUIBASE_COMMAND_USERNAME: ${postgres_user}
      LIQUIBASE_COMMAND_PASSWORD: ${postgres_password}
    volumes:
      - ./db-management/src/main/resources/changelog:/liquibase/changelog
    command: update --changelog-file=changelog-master.xml
    depends_on:
      - postgres
    networks:
      - socialnet_network

  frontend:
    container_name: frontend
    image: javapro38/social-net-dock:latest
    restart: unless-stopped
    ports:
      - "8088:80"
    networks:
      - socialnet_network

  user-service:
    container_name: user-svc
    image: javapro38/soc-net-user-svc
    depends_on:
      - postgres
    environment:
      POSTGRES_USER: ${postgres_user}
      POSTGRES_PASSWORD: ${postgres_password}
      POSTGRES_DB: ${postgres_db}
    ports:
      - "8081:8081"
    networks:
      - socialnet_network

  communications-service:
    container_name: comm-svc
    image: javapro38/soc-net-comm-svc
    depends_on:
      - postgres
    environment:
      POSTGRES_USER: ${postgres_user}
      POSTGRES_PASSWORD: ${postgres_password}
      POSTGRES_DB: ${postgres_db}
    ports:
      - "8082:8082"
    networks:
      - socialnet_network

  gateway-service:
    container_name: gate-svc
    image: javapro38/soc-net-gate-svc
    depends_on:
      - user-service
      - communications-service
    ports:
      - "8080:8080"
    networks:
      - socialnet_network

volumes:
  data:
    driver: local

networks:
  socialnet_network:
    driver: bridge
